.sunSelection {
  text-align: center;
  position: relative;
}

  .sunSelection ul, li {
    list-style: none;
    cursor: pointer;
    padding: 0;
  }

.sunSelection__line_wrap {
  width: 100%;
  position: relative;
  z-index: 9999
}

  .sunSelection__line_wrap > .sunSelection__line_list {
    display: block;
    width: 100%;
  }

.sunSelection__line_item {
  position: relative;
  transition: all 0.3s linear;
}

.sunSelection__line_wrap > .sunSelection__line_list {
  position: static;
}

  .sunSelection__line_wrap > .sunSelection__line_list > .sunSelection__line_item {
    display: inline-block;
    transition: all 0.2s linear;
    margin-right: 10px;
    border-radius: 12px;
    padding: 0 20px;
  }

.sunSelection__line_list .sunSelection__line_list {
  background: #fff;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
  color: #333;
}

.sunSelection__line_list {
  position: absolute;
  top: 0;
  white-space: nowrap
}
/*设置整体布局*/

/*状态设置*/
.sunSelection__state_hover {
  background: rgb(217, 236, 255);
  color: #333
}

.sunSelection__state_selected {
  background: #3B87FF;
  color: #fff;
}

.sunSelection__icon_selected::after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  right: 8%;
  margin-top: -3%;
  background-size: 100% 100%;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACrUlEQVRYR+2VP2gTcRTHv+9SWpCKXTro6K5CEdJckotFHJw6WJTcIO1yF6GtFEsHQfwLUtQiVNNcpJXioIM4WBH/IG1+4ZIq1kURxEUXEaSCFAfTXJ5cJCV3SZrUJunS2+53773v5/35vSNs8UNbrI9tgKZXICKCfkb2CkH6EVPM400F0Bd8YUgUBdBhzx4RTjYNICLkMQbGi4eeGRebAqAJ3ySBBp03js4ainm1oQCaCO4mWFMAel2Zj8ZDqRv5NjRqD2jJbi+xZPe7q1iDQEMxxbxVOGsIgC7kPgKiDHQ6EmToRigVdwLVuQQR4R9h8IQ7LDP1x0PmrPu8rhXQhG+CQCMlORGrRjB9v1yudQEYEMHOVlh2v/tcIhlIFDYC5qNKhc4D6EK+S4R9GaKemYC5spGuaKK7i+CJAux1+a0QsRoLpp+sF4+0hHyBCOcLRpJEylTATNYCoQu5lwhRZuxxDdsyPPnMX1aLQ3rCfwLED1yGw4aSmlzPOSL8gwwusSHCN4tZvaOkE9XE1/aAnpA1EAzn9eBZT5t15rb3zbI7kCbkcQLGygh8kSQKTwXMxVrEHYtIT/hGQXTN6cgfAQwbSvqVfd4/f6ijrSUTBSNcOun4xJxT48riu1rFHQD2iyb8lwh8ruSuEkaRzS1xi3QZjEAZgfdkQY31pD5sRLwEIH8jkvJNME7XHIjwFjlLNUKvP9fsU2RYdg/oQp4BMFAtIAMpaxXq9OHU12q2lb5XXEQRIT9k4FjFwIR5T7ZVjfYsfP9f8bItKAQbenq0LbPz1xwYR8oIPM+2sDotp39uRnxdAPvjvxWbnQNobcsR8Lh9V7t6/cCL35sVrwpgG5xKBvYy5+4xsB/AM97xR40fXFqth3hNAPUS2vAQNlq4EL8uv+PNwG4DbHkF/gK8nNLELrqqqwAAAABJRU5ErkJggg==");
}

.sunSelection__state_hasChildren::before {
  content: "";
  border-top: 4px solid transparent;
  border-left: 4px solid rgba(0,0,0,.4);
  border-bottom: 4px solid transparent;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -4px;
}

.sunSelection__drop_panel {
  text-align: left;
  height: 380px;
  max-height: 380px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
  position: absolute;
  width: 100%;
  z-index: 9998;
  background: #fff;
  padding: 10px 20px;
}

.sunSelection__drop_list {
  position: absolute;
  top: 0;
  color: #333 !important;
  border-right: 1px solid #eee;
  height: 100%;
}

.drop__packing {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}

.sunSelection__selector_selected {
  text-align: left;
  height: 30px;
  line-height: 30px;
  padding: 4px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.sunSelection__selected_item {
  display: inline-block;
  padding: 0 26px 0 10px;
  height: 24px;
  line-height: 24px;
  border-radius: 12px;
  background: #3B87FF;
  color: #fff;
  margin-right: 10px;
  font-size: 12px;
  position: relative;
}

.sunSelection__icon_cancel {
  font-style: normal;
}

  .sunSelection__icon_cancel::before {
    content: "\2716";
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    border-radius: 50%;
    display: inline-block;
    right: 2px;
    top: 2px;
    position: absolute;
    background: #F56C6C;
    cursor: pointer;
  }

.sunSelection__drop_listItem {
  margin: 0 4px;
}

.sunSelection__selector_wrap {
}

.sunSelection__list_wrap {
  position: relative;
}

.sunSelection__drop_title {
  text-align: left;
  font-size: 20px;
  color: #3B87FF;
  font-weight: 600;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.sunSelection__title {
  display: inline-block;
  margin-right: 20px;
}

.sunSelection__selector_controll {
  float: right;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
}

.sunSelection__controll_item {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  border-radius: 2px;
  background: #3B87FF;
  color: #fff;
  margin-left: 10px
}

.button_danger {
  background: #F56C6C;
}

.button_empty {
  background: #fff;
  color: #3B87FF;
  border: 1px solid #3B87FF;
}
